<section id="sidebar" class="sidebar right">
</section>

<section id="post" class="left content">
  <h1>The Post ...</h1>
  <%= erb :'posts/_post', { layout: false, locals: {:post => @post }} %>
</section>
